@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?h9j1ss');
  src:  url('fonts/icomoon.eot?h9j1ss#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?h9j1ss') format('truetype'),
    url('fonts/icomoon.woff?h9j1ss') format('woff'),
    url('fonts/icomoon.svg?h9j1ss#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nearest_underground_active:before {
  content: "\e95f";
  color: #1da1f2;
}
.icon-carbon:before {
  content: "\e957";
}
.icon-balcony:before {
  content: "\e958";
}
.icon-desk:before {
  content: "\e959";
}
.icon-patio:before {
  content: "\e95a";
}
.icon-smoke-alarm:before {
  content: "\e95b";
}
.icon-tv:before {
  content: "\e95c";
}
.icon-concierge:before {
  content: "\e95d";
}
.icon-lift:before {
  content: "\e95e";
}
.icon-washing:before {
  content: "\e949";
  color: #ff9770;
}
.icon-wifi:before {
  content: "\e94a";
  color: #ff9770;
}
.icon-dishwasher:before {
  content: "\e94b";
  color: #ff9770;
}
.icon-drier:before {
  content: "\e94c";
  color: #ff9770;
}
.icon-road:before {
  content: "\e94d";
  color: #ff9770;
}
.icon-smoking:before {
  content: "\e94e";
  color: #ff9770;
}
.icon-pets:before {
  content: "\e94f";
  color: #ff9770;
}
.icon-furnished:before {
  content: "\e950";
  color: #ff9770;
}
.icon-whatsapp:before {
  content: "\e951";
  color: #fff;
}
.icon-share:before {
  content: "\e952";
  color: #fff;
}
.icon-messenger:before {
  content: "\e953";
  color: #fff;
}
.icon-email:before {
  content: "\e954";
  color: #fff;
}
.icon-copy-link:before {
  content: "\e955";
  color: #fff;
}
.icon-d-tour:before {
  content: "\e956";
}
.icon-slider_left:before {
  content: "\e945";
  color: #fff;
}
.icon-slider_right:before {
  content: "\e946";
  color: #fff;
}
.icon-bed:before {
  content: "\e947";
  color: #acde8d;
}
.icon-appartment:before {
  content: "\e948";
  color: #acde8d;
}
.icon-profile_outline:before {
  content: "\e93f";
  color: #78889f;
}
.icon-building:before {
  content: "\e940";
  color: #1da1f2;
}
.icon-filter:before {
  content: "\e941";
  color: #fff;
}
.icon-home_outline:before {
  content: "\e942";
  color: #78889f;
}
.icon-lock:before {
  content: "\e943";
  color: #78889f;
}
.icon-logout:before {
  content: "\e944";
  color: #78889f;
}
.icon-plus:before {
  content: "\e93e";
  color: #fff;
}
.icon-pound:before {
  content: "\e93d";
}
.icon-ataachment:before {
  content: "\e926";
  color: #1da1f2;
}
.icon-empty_issue:before {
  content: "\e927";
  color: #acde8d;
}
.icon-landlord_hand:before {
  content: "\e912";
  color: #1da1f2;
}
.icon-white_mobile:before {
  content: "\e91f";
  color: #fff;
}
.icon-edit:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e902";
}
.icon-delete:before {
  content: "\e901";
}
.icon-camera:before {
  content: "\e900";
}
.icon-ai:before {
  content: "\e904";
  color: #fff;
}
.icon-checkbox_unchecked:before {
  content: "\e925";
  color: #dce1e9;
}
.icon-radio_selected-1:before {
  content: "\e928";
  color: #1da1f2;
}
.icon-radio_unselected:before {
  content: "\e929";
  color: #b2bace;
}
.icon-red_close .path1:before {
  content: "\e92c";
  color: rgb(255, 237, 237);
}
.icon-red_close .path2:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(255, 75, 85);
}
.icon-red_close .path3:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(255, 75, 85);
}
.icon-upload:before {
  content: "\e934";
  color: #1da1f2;
}
.icon-caret_down_white:before {
  content: "\e935";
  color: #fff;
}
.icon-caret_down:before {
  content: "\e936";
  color: #1da1f2;
}
.icon-close:before {
  content: "\e937";
  color: #e2e2e2;
}
.icon-form_email:before {
  content: "\e938";
  color: #1da1f2;
}
.icon-form_user:before {
  content: "\e939";
  color: #1da1f2;
}
.icon-alert:before {
  content: "\e93a";
  color: #ff4b55;
}
.icon-arrow_lefT:before {
  content: "\e93b";
  color: #1da1f2;
}
.icon-arrow_right:before {
  content: "\e93c";
  color: #fff;
}
.icon-location:before {
  content: "\e90f";
  color: #1da1f2;
}
.icon-notification:before {
  content: "\e910";
  color: #fff;
}
.icon-user:before {
  content: "\e924";
  color: #dde2eb;
}
.icon-Vector-Stroke:before {
  content: "\e905";
  color: #fff;
}
.icon-checkbox_selected .path1:before {
  content: "\e92a";
  color: rgb(16, 146, 225);
}
.icon-checkbox_selected .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-zibble:before {
  content: "\e92e";
  color: #1da1f2;
}
.icon-click:before {
  content: "\e92f";
  color: #fff;
}
.icon-password_white:before {
  content: "\e930";
  color: #fff;
}
.icon-shield_white:before {
  content: "\e931";
  color: #fff;
}
.icon-Star:before {
  content: "\e932";
  color: #fff;
}
.icon-Heart:before {
  content: "\e911";
  color: #fff;
}
.icon-facebook:before {
  content: "\e913";
  color: #fff;
}
.icon-LinkedIn:before {
  content: "\e908";
  color: #fff;
}
.icon-instagram:before {
  content: "\e914";
  color: #fff;
}
.icon-twitter:before {
  content: "\e915";
  color: #fff;
}
.icon-manage_it:before {
  content: "\e916";
  color: #fff;
}
.icon-Document:before {
  content: "\e917";
  color: #fff;
}
.icon-Group-14505:before {
  content: "\e918";
  color: #fff;
}
.icon-User:before {
  content: "\e919";
  color: #1da1f2;
}
.icon-check:before {
  content: "\e91a";
  color: #1da1f2;
}
.icon-full_management:before {
  content: "\e91b";
  color: #1da1f2;
}
.icon-User1:before {
  content: "\e91c";
  color: #1da1f2;
}
.icon-Calendar:before {
  content: "\e91d";
  color: #1da1f2;
}
.icon-Chat:before {
  content: "\e91e";
  color: #1da1f2;
}
.icon-property_in_3d:before {
  content: "\e920";
  color: #1da1f2;
}
.icon-Show:before {
  content: "\e921";
  color: #1da1f2;
}
.icon-Time-Circle:before {
  content: "\e922";
  color: #1da1f2;
}
.icon-d:before {
  content: "\e906";
  color: #1da1f2;
}
.icon-home:before {
  content: "\e907";
  color: #1da1f2;
}
.icon-iot:before {
  content: "\e909";
  color: #1da1f2;
}
.icon-megaphone:before {
  content: "\e90a";
  color: #1da1f2;
}
.icon-mobile:before {
  content: "\e90b";
  color: #1da1f2;
}
.icon-password:before {
  content: "\e90c";
  color: #1da1f2;
}
.icon-shield:before {
  content: "\e90d";
  color: #1da1f2;
}
.icon-testimonial-logo:before {
  content: "\e90e";
  color: #1da1f2;
}
.icon-Search:before {
  content: "\e923";
  color: #78889f;
}
