@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3sf4y9');
  src:  url('fonts/icomoon.eot?3sf4y9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3sf4y9') format('truetype'),
    url('fonts/icomoon.woff?3sf4y9') format('woff'),
    url('fonts/icomoon.svg?3sf4y9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Vector-Stroke:before {
  content: "\e900";
  color: #fff;
}
.icon-checkbox_selected .path1:before {
  content: "\e92a";
  color: rgb(16, 146, 225);
}
.icon-checkbox_selected .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-zibble:before {
  content: "\e92e";
  color: #1da1f2;
}
.icon-click:before {
  content: "\e92f";
  color: #fff;
}
.icon-password_white:before {
  content: "\e930";
  color: #fff;
}
.icon-shield_white:before {
  content: "\e931";
  color: #fff;
}
.icon-Star:before {
  content: "\e932";
  color: #fff;
}
.icon-all_in_one_platform:before {
  content: "\e90c";
  color: #fff;
}
.icon-Heart:before {
  content: "\e911";
  color: #fff;
}
.icon-passionate:before {
  content: "\e912";
  color: #fff;
}
.icon-facebook:before {
  content: "\e913";
  color: #fff;
}
.icon-instagram:before {
  content: "\e914";
  color: #fff;
}
.icon-twitter:before {
  content: "\e915";
  color: #fff;
}
.icon-manage_it:before {
  content: "\e916";
  color: #fff;
}
.icon-Document:before {
  content: "\e917";
  color: #fff;
}
.icon-Group-14505:before {
  content: "\e918";
  color: #fff;
}
.icon-User:before {
  content: "\e919";
  color: #1da1f2;
}
.icon-Proprietary:before {
  content: "\e933";
  color: #1da1f2;
}
.icon-check:before {
  content: "\e91a";
  color: #1da1f2;
}
.icon-full_management:before {
  content: "\e91b";
  color: #1da1f2;
}
.icon-User1:before {
  content: "\e91c";
  color: #1da1f2;
}
.icon-Calendar:before {
  content: "\e91d";
  color: #1da1f2;
}
.icon-Chat:before {
  content: "\e91e";
  color: #1da1f2;
}
.icon-Profile:before {
  content: "\e91f";
}
.icon-property_in_3d:before {
  content: "\e920";
  color: #1da1f2;
}
.icon-Show:before {
  content: "\e921";
  color: #1da1f2;
}
.icon-Time-Circle:before {
  content: "\e922";
  color: #1da1f2;
}
.icon-left_active:before {
  content: "\e901";
  color: #1da1f2;
}
.icon-right-active:before {
  content: "\e902";
  color: #1da1f2;
}
.icon-d:before {
  content: "\e905";
  color: #1da1f2;
}
.icon-home:before {
  content: "\e906";
  color: #1da1f2;
}
.icon-iot:before {
  content: "\e907";
  color: #1da1f2;
}
.icon-megaphone:before {
  content: "\e909";
  color: #1da1f2;
}
.icon-mobile:before {
  content: "\e90a";
  color: #1da1f2;
}
.icon-password:before {
  content: "\e90b";
  color: #1da1f2;
}
.icon-shield:before {
  content: "\e90d";
  color: #1da1f2;
}
.icon-testimonial-logo:before {
  content: "\e90e";
  color: #1da1f2;
}
.icon-location:before {
  content: "\e910";
  color: #78889f;
}
.icon-Search:before {
  content: "\e923";
  color: #78889f;
}
.icon-left-inactive:before {
  content: "\e903";
  color: #dce1e9;
}
.icon-right-inactive:before {
  content: "\e904";
  color: #dce1e9;
}
